body {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #ffffff;
	background-color: #323232;
}
.navbar-inverse {
	background-color: #323232;
}
.navbar .navbar-inverse .navbar-collapse
.navbar-inverse .navbar-form {
	border-color: #323232;
}
.navbar-inverse .navbar-nav > .active > a {
	color: #cccccc;
	background-color: #323232;
}
.navbar-inverse .navbar-nav > .active > a:hover{
	color: #fff;
	background-color: #4c4c4c;
}
.navbar-inverse .navbar-nav > .active > a:focus{
	color: #fff;
	background-color: #4c4c4c;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #4c4c4c;
}
.navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #4c4c4c;
}
.navbar-inverse .navbar-nav > li > a:hover{
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
	background-color: #4c4c4c;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #323232;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: white;
	text-decoration: none;
	background-color: #4c4c4c;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.dropdown-menu > li > a {
	color: #999999;
}
.navbar-brand:hover{
	color: white;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.panel-footer {
	padding: 10px 15px;
	background-color: #323232;
	border-top: 1px solid #323232;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.text-center {
	text-align: center;
	color: #fff;
}
#whiteP > p {
	color: #cccccc;
}
.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.navbar-inverse .navbar-brand {
	color: #cccccc;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #fff;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
	color: #cccccc;
}
hr {
	border-color: black;
}
.footer-social {
	float: right; 
	position: relative;
	margin-bottom: 5px;
	height:30px; 
}
ul { 
	padding:0; 
	margin:0;
}
.footer-social li {
	float:left;
	list-style:none; 
	margin-left:5px;
}
.footer-social span {
	float:left; 
}
#topLink{
	position: absolute;
	left: 50%;
}
.big-icon{
	font-size: 30px;
	color: white;
}
.big-icon:hover{
	font-size: 32px;
	color: #cccccc;
}
textarea{
	resize: none;
}
.jumbotron {
	height: 350px;
	color: white;
	text-shadow: #444 0 1px 1px;
	background: transparent;
}
p {
	font-size: 16px;
	float: left;
}

h3 {
	font-size: 30px;
	text-align: center;
}
.tableHead{
	color: #ffffff;
	background-color: #323232;
}
table, td, th {
    border: 1px solid #ffffff;
}
@media screen and (max-width: 767px) {
	.big-icon{
		font-size: 20px;
		color: white;
	}
	.big-icon:hover{
		font-size: 22px;
		color: #cccccc;
	}
	.footer-social {
		margin-bottom: 2px;
	}
	p {
		font-size: 14px;
	}
	h3 {
		font-size: 22px;
	}
}
#redirect{
		background-color: #323232;
		font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
		font-size: 14px;
	}
.parallax-window {
    min-height: 400px;
    background: transparent;
    width:100%;
    display: block;
    overflow: hidden;
}
.navbar{
	margin: 0px;
}
.parallax-content{
	border-radius: 6px;
	background-color: rgba(33, 33, 33, 0.5);
    max-width: 1000px;
    margin: 20px auto 20px auto;
	width: 80%;
    vertical-align: middle;
}
.container{
	width: 80%;
}
.table-responsive{
	background-color: #323232;
	overflow-x: unset;
}
hr {
    max-width: 50px;
    border-color: white;
    border-width: 3px;
	padding-bottom: 10px;
}
.parallax-content > #redirect{
	text-align: center;
}
.center{
	text-align: center;
}