 <div class="container-fluid bg-grey">
 	<div class="row">
 		<div id="whiteP" class="col-sm-5">
 		<p></p>
 			<p>For any additional information or question please contact me and I will get back to you as soon as possible.</p>
 			<p><span class="glyphicon glyphicon-map-marker"></span> Athens, Greece</p>
 			<p><span class="glyphicon glyphicon-phone"></span> +30 6941463769</p>
 			<p><span class="glyphicon glyphicon-envelope"></span> p.pantouveris@gmail.com</p>
 		</div>
 	</div>
 </div>
 <footer class="container-fluid text-center">
	<a id="topLink" href="#toTop" target="_self" title="To Top">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<div class="footer-social">
    <ul>
    	<a href="https://gr.linkedin.com/in/panagiotis-pantouveris-65b99272" target="_blank" class="big-icon">
    		<li>
    			<i class="fa fa-linkedin-square" aria-hidden="true"></i>
    		</li>
    	</a>
        <a href="https://github.com/panospant" target="_blank" class="big-icon">
        	<li>
        		<i class="fa fa-github" aria-hidden="true">
        		</i>
        	</li>
        </a>
    </ul>
</div>
</footer> 