<p>Here is a list with my ambitions and goals both long term and short term.</p>
<div class="container">
  <div class="table-responsive">          
  <table class="table">
    <thead class="tableHead">
      <tr>
        <th>#</th>
        <th>Goal</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Get a deeper knowledge of AngularJS</td>
        <td>09/2016</td>
        <td>Continual</td>
        <td>AngularJS is a great Javascript Framework which helps you break your code in MVC components, write less code and more. Especially now with the 2.0 version coming Angular becomes the best option for those who want to work with Javascript.</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Grow as a professional</td>
        <td>10/2016</td>
        <td>Continual</td>
        <td>As I develop my technical skills is very important for me to develop my communicational, interpersonal, negotiating and leadership skills. I think it is very important to learn how to manage a team, inspire and positively influence my colleagues.</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Volunteering</td>
        <td>01/2017</td>
        <td>Continual</td>
        <td>I believe that helping and giving something back to my society is not just important, it's an obligation. Some of the causes that I would like to have an impact are the environment, helping kids that don't have the resources for a better education and poverty. Most likely I will join Actionaids program <a href="https://www.actionaid.org.uk/sponsor-a-child" target="_blank">sponsor a child</a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Enroll to a part time master program</td>
        <td>09/2017</td>
        <td>06/2018</td>
        <td>After working for one more year I think I will be able to know with more precision where I would like to get a deeper knowledge.</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
