<p>Here is a list of some of the projects that I'm proud of.</p>

<div class="container">
	<h4 class="projectsTitles" id="bThesis">Mobile application security and Ads</h4>

	<p>For academic reasons I developed two mobile applications. One using native Java code and the other using PhoneGap. The task of the project was to expose some major security concerns regarding android applications, more specifically on how it's possible to get information about the user through mobile ads. By the end of the development process the results were very interesting. By injecting some javascript code to the ad loaded on the phone, I was able to retrieve the users location. The applications include some core mobile applications features like ad banners and geolocation.</p>
	<p>You can read more about the project and view my paper in my <a href="https://gr.linkedin.com/in/panagiotis-pantouveris-65b99272" target="_blank">LinkedIn profile</a> in the education section.</p>
	<!-- add links here for github and linkedIn -->
</div>

<div class="container">
	<h4 id="epimelitis">Bailiff notifications pricelist</h4>

	<p>This android application is a useful tool for the judicial officers (court bailiffs) and also their customers and lawyers to find through their smartphones, using the search field feature, the prices for the service of legal documents in the region of Athens and the surroundings (Attiki).</p>

	<p>You can download the application <a href="https://play.google.com/store/apps/details?id=com.pantouveris.panagiotis.timokatalogosdikastikwnepimelhtwn" target="_blank">here</a> or view the source code of the project <a href="https://github.com/panospant/Bailiff-notifications-pricelist.git" target="_blank">here</a>.</p>
	<!-- add links here for github and linkedIn -->
</div>